body {
    margin: 0;
}
.wrapper {
    display: grid;
    grid-gap: 1em;
}

.page-header {
    display: grid;
    justify-items: center;
}

.header {
    height: 10em;
    display: flex;
    justify-content: center;
}

.header h1 {
    padding-top: 1em;
    font-weight: 100;
}

.navigation {
    padding: 1em 5%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.row, .footer {
    display: grid;
    padding: 1em 5%;

}
.center {
    justify-items: center;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/**
 Card Layout
 **/
.row-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    max-width: 300px;
    margin: 2em 0;
}
.card-wide {
    max-width: 80%;
    margin-bottom: 2em;
}
